:root{
--verdeagua: #009688;
--azul: #1924FA;
--morado: #c874dc;
}
  .respmenu a {
    color: inherit;
    display: block;
    padding: 10px 200px;
    border-bottom: 2px solid var(--verdeagua);
    max-width: 200px;
    background: var(--morado);
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }
  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    background: var(--verdeagua);
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
    
  }
  
  .respmenu {
    color: white;
    position: relative;
    background: url(https://images.unsplash.com/photo-1502652321442-e5eba8f8ae7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    min-height: 500px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
  .cerrar.elemnto {
    display: none;
}
