:root{
--verdeagua: #009688;
--azul: #1924FA;
--morado: #c874dc;
}
nav>ul {
    list-style: none;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: white;
    margin: 0px;
    top: 0;
    height: 50px;
    padding: 0;
}
.cerrar.elemnto {
    color: white;
    position: fixed;
    top: 8px;
    right: 16px;
    background: #006a80;
    padding: 12px;
    border-radius: 35%;
    font-weight: 800;
    cursor: pointer;
}
h1.h1small {
    position: fixed;
    width: fit-content;
    top: 27px;
    z-index: -3;
}
body {
    margin-top: 70px;
    font-family: 'Catamaran', sans-serif;
}
.cm {
    background: blue;
    width: 10cm;
    height: 10cm;
    color: white;
}
.mm {
    background: var(--verdeagua);
    width: 100mm;
    height: 100mm;
    color: white;
}
.in {
    background: #8bc34a;
    width: 3.94in;
    height: 3.94in;
}
.px {
    background: #cddc39;
    width: 378px;
    height: 378px;
}
.pt {
    background: #ffeb3b;
    width: 283pt;
    height: 283pt;
}
.pc {
    background: #fff9c4;
    width: 24pc;
    height: 24pc;
}
.absolutas {
    display: flex;
    flex-wrap: wrap;
}
.em {
    background: pink;
    width: 23em;
    height: 23em;
}
.rem {
    background: #d59cde;
    width: 23rem;
    height: 23rem;
}
.vh {
    background: purple;
    width: 45vh;
    height: 45vh;
}
.vw {
    background: #bfaede;
    width: 50vw;
    height: 50vw;
}
.porcentaje {
    background: #9e96b5;
    width: 50%;
    height: 50%;
}
/* Así se hacen los comentarios */
#footer {
    background: var(--verdeagua);
    color: white;
    text-align: center;
    padding: 5px;
    height: 3cm;
}
p.intro {
    background: #65c5bc;
    color: black;
}
.jueves.master {
    background: #c3e0b5;
}
.intro .lunes {
    font-weight: bolder;
    font-size: 20px;
    margin: 5px;
}
/* div, span {
    color: #000000;
    animation-name: cambiocolor;
    animation-duration: 5s; */
}
@keyframes cambiocolor {
    0%{color: var(--verdeagua)}
    50%{color: var(--azul)}
    100%{color:black}
}
div span {
    background: #e4e4e4;
}
a {
    color: var(--azul);
    text-decoration: none;
}
#footer a {
    color: #98e3ec;
    text-decoration: revert;
}
section.columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
section#preguntas-frecuentes {
    display: grid;
    justify-items: center;
    padding: 25px;
    margin: 5px;
}
section.geometria {
    display: flex;
    justify-content: center;
}
.cuadrado {
    background: var(--morado);
    width: 200px;
    height: 200px;
    position: relative;
    margin: 50px 50px 50px 50px;
    z-index: -1;
}
.circulo {
    width: 50px;
    height: 50px;
    background: #fffcfc;
    position: absolute;
    left: 38%;
    top: 38%;
    border-radius: 50%;
}
#imagenfalsa {
    height: 750px;
    width: 667px;
    background-image: url(/imagenes/calavera-rosa.png);
    margin: 80px auto;
    background-color: black;
    background-attachment: fixed;
    background-size: 375px 333px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: 12px solid var(--morado);
}
.perrito {
    margin: auto;
    width: 667px;
    height: 212px;
    background-image: url(/imagenes/perrito.png);
    background-color: var(--morado);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
a[target="_blank"] {
    background-image: url(/imagenes/calavera-rosa.png);
    padding-right: 1.5em;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}
img {
    max-width: 100%;
}
.cita {
    width: max(70%, 300px);
}
.hola {
    background: var(--morado);
    width: calc(100% - 40px);
    margin: auto;
}
/*Responsive*/
@media all and (min-width: 400px) and (max-width: 800px) 
{
    nav>ul {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    section#bannerhome {
        margin: 180px 0 0 0;
    }
    h1.h1small {
        position: inherit;
    }
}
@media all and (min-width: 2200px) 
{
    * {
        max-width: 2200px;
        margin: auto;
    }
}