RewriteEngine On
# bloqueo user agent
REWRITECOND %{HTTP_USER_AGENT} ^.*(INVENTADO|SEMRUSHBOT-BA|SEMRUSHBOT-SI|CHATGPT-USER|SCREAMING.*FROG.*SEO.*SPIDER).*$ [NC]
# REWRITECOND %{REQUEST_URI} ^/SOBRE-MI [NC]
REWRITERULE ^.*$ - [F,L]
ErrorDocument 401 '<h1>Contrasena incorrecta</h1>'
ERRORDOCUMENT 403 '<!DOCTYPE HTML><HTML LANG="ES" XMLNS="HTTP://WWW.W3.ORG/1999/XHTML"><HEAD><META CHARSET="UTF-8"><META HTTP-EQUIV="X-UA-COMPATIBLE" CONTENT="IE=EDGE"><LINK REL="SHORTCUT ICON" TYPE="IMAGE/X-ICON" HREF="HTTPS://CARLOS.SANCHEZDONATE.COM/WP-CONTENT/THEMES/SANCHEZDONATE/IMAGES/FAVICON/FAVICON.ICO"><LINK REL="APPLE-TOUCH-ICON-PRECOMPOSED" SIZES="300X300" HREF="HTTPS://CARLOS.SANCHEZDONATE.COM/WP-CONTENT/THEMES/SANCHEZDONATE/IMAGES/FAVICON/FAVICON.PNG"/><LINK REL="ICON" TYPE="IMAGE/PNG" HREF="HTTPS://CARLOS.SANCHEZDONATE.COM/WP-CONTENT/THEMES/SANCHEZDONATE/IMAGES/FAVICON/FAVICON.PNG" SIZES="300X300"/><META NAME="VIEWPORT" CONTENT="INITIAL-SCALE=1, MAXIMUM-SCALE=6"><TITLE>401 NO AUTORIZADO</TITLE><STYLE>HTML{HEIGHT:100%;BACKGROUND:#FAF7FB;DISPLAY:FLEX;ALIGN-ITEMS:FLEX-START;JUSTIFY-CONTENT:SPACE-AROUND}P{FONT-SIZE:20PX}</STYLE></HEAD><body><H1 STYLE="FONT-SIZE: 40PX;COLOR:#8D096B;">ERROR 403 Acceso no permitido</H1></BODY></HTML>'

# Bloqueo por IP
<Files sitemap-lang.xml>
order deny,allow
deny from all
allow from 89.130.56.227
</Files>

# Bloqueo por contraseña
# <If "%{HTTP_HOST} == 'ejemplo.test'">
# <IfModule mod_authn_file.c>
# AuthUserFile C:\Users\sandr\OneDrive\Documentos\github\ejemplo\pass\.htpasswd
# AuthName "Iniciar sesión requerido"
# AuthType Basic
# Require valid-user
# </IfModule>
# </If>

# Redirigir a la versión móvil si se accede desde un dispositivo móvil
RewriteCond %{REQUEST_URI} !^/devices/movil/ [NC]
RewriteCond %{HTTP_USER_AGENT} !ipad [NC]
RewriteCond %{HTTP_USER_AGENT} !tablet [NC]
RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
RewriteRule ^(.*)$ /devices/movil/$1 [L]

# Redirigir a la versión de tablet si se accede desde una tablet o Mac
RewriteCond %{HTTP_USER_AGENT} "ipad|tablet|Macintosh|Mac OS X|kindle|playbook|silk" [NC]
RewriteCond %{REQUEST_URI} !^/devices/tablet/ [NC]
RewriteCond %{HTTP_USER_AGENT} !android [NC]
RewriteCond %{HTTP_USER_AGENT} !iphone [NC]
RewriteRule ^(.*)$ /devices/tablet/$1 [L]

# Redirecciona un directorio completo a otro directorio completo 
# RedirectMatch 301 ^/contacto(.*)$ https://ejemplo.test/contactar$1
# Código respuesta 503 en una página específica
# RedirectMatch 503 ^/sobre-mi$
# Redirecciona un directorio completo a una página individual 
# RedirectMatch 302 ^/basica(.*)$ https://ejemplo.test/directorio-pagina

# canonical en una página
# <If "%{THE_REQUEST} =~ m# /sobre-mi.php#i">
# Header set Link "<http://ejemplo.test/>; rel='canonical'"
# </If>
#  noindex en un directorio
# <If "%{THE_REQUEST} =~ m# /carpeta/[^/]+/#i">
#   Header set X-Robots-Tag "noindex"
# </If>

# Cache
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 4 months"
ExpiresByType image/webp "access plus 4 months"
ExpiresByType image/gif "access plus 4 months"
ExpiresByType image/png "access plus 4 months"
ExpiresByType image/jpg "access plus 4 months"
ExpiresByType image/jpeg "access plus 4 months"
ExpiresByType video/mp4 "access plus 4 months"
ExpiresByType image/ico "access plus 11 months"
ExpiresByType image/svg+xml "access plus 4 months"
ExpiresByType text/css "access plus 4 months"
ExpiresByType text/javascript "access plus 4 months"
ExpiresByType application/javascript "access plus 4 months"
ExpiresByType application/x-javascript "access plus 4 months"
ExpiresByType application/font-woff "access plus 1 year"
ExpiresByType application/font-woff2 "access plus 1 year"
</IfModule>

# web con brotli https://www.pccomponentes.com/ y sin el https://oorganika.com/

# Brotli
<IfModule mod_brotli.c>
    AddType x-font/woff .woff
    AddType x-font/ttf .ttf
    AddOutputFilterByType BROTLI image/svg+xml
    AddOutputFilterByType BROTLI image/x-icon
    AddOutputFilterByType BROTLI text/plain
    AddOutputFilterByType BROTLI text/html
    AddOutputFilterByType BROTLI text/xml
    AddOutputFilterByType BROTLI text/css
    AddOutputFilterByType BROTLI application/pdf
    AddOutputFilterByType BROTLI text/javascript
    AddOutputFilterByType BROTLI application/xml
    AddOutputFilterByType BROTLI application/xhtml+xml
    AddOutputFilterByType BROTLI application/rss+xml
    AddOutputFilterByType BROTLI application/javascript
    AddOutputFilterByType BROTLI application/x-javascript
    AddOutputFilterByType BROTLI application/x-font-ttf
    AddOutputFilterByType BROTLI application/vnd.ms-fontobject
    AddOutputFilterByType BROTLI font/opentype font/ttf font/eot font/otf
    AddOutputFilterByType BROTLI font/woff
    AddOutputFilterByType BROTLI font/woff2
</IfModule>

# Indirección estándar
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/sobre-mi.php [NC]
RewriteRule ^indireccion(.*)$ /sobre-mi.php$1 [L]
# Devolver un error 404 para /ejemplo
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/sobre-mi.php [NC]
RewriteRule ^ - [R=404,L]
</IfModule>

# Prevenir el hotlinking

<IfModule mod_rewrite.c>
RewriteEngine On
# RewriteCond %{HTTP_REFERER} !^http://ejemplo\.test/ [NC]
# RewriteCond %{HTTP_REFERER} ^https://(www\.)?google\. [NC]
RewriteCond %{REQUEST_FILENAME} \.(jpg|jpeg|png|gif|webp)$ [NC]
RewriteRule ^ - [R=204,L]
</IfModule>