RewriteEngine On
# Redirigir a la versión móvil si se accede desde un dispositivo móvil
RewriteCond %{REQUEST_URI} !^/devices/movil/ [NC]
RewriteCond %{HTTP_USER_AGENT} !ipad [NC]
RewriteCond %{HTTP_USER_AGENT} !tablet [NC]
RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
RewriteRule ^(.*)$ /devices/movil/$1 [L]

# Redirigir a la versión de tablet si se accede desde una tablet o Mac
RewriteCond %{HTTP_USER_AGENT} "ipad|tablet|Macintosh|Mac OS X|kindle|playbook|silk" [NC]
RewriteCond %{REQUEST_URI} !^/devices/tablet/ [NC]
RewriteCond %{HTTP_USER_AGENT} !android [NC]
RewriteCond %{HTTP_USER_AGENT} !iphone [NC]
RewriteRule ^(.*)$ /devices/tablet/$1 [L]

# Redirecciona un directorio completo a otro directorio completo 
RedirectMatch 301 ^/contacto(.*)$ https://ejemplo.test/contactar$1
# Código respuesta 503 en una página específica
RedirectMatch 503 ^/sobre-mi$
# Redirecciona un directorio completo a una página individual 
RedirectMatch 302 ^/basica(.*)$ https://ejemplo.test/directorio-pagina

#canonical en una página
<If "%{THE_REQUEST} =~ m# /sobre-mi.php#i">
 Header set Link "<http://ejemplo.test/>; rel='canonical'"
</If>
# noindex en un directorio
<If "%{THE_REQUEST} =~ m# /carpeta/[^/]+/#i">
   Header set X-Robots-Tag "noindex"
</If>
