RewriteEngine On
# Redirigir a la versión móvil si se accede desde un dispositivo móvil
RewriteCond %{HTTP_USER_AGENT} "android|blackberry|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
RewriteCond %{REQUEST_URI} !^/devices/movil/ [NC]
RewriteCond %{HTTP_USER_AGENT} !ipad [NC]
RewriteCond %{HTTP_USER_AGENT} !tablet [NC]
RewriteRule ^(.*)$ /devices/movil/$1 [L]

# Redirigir a la versión de tablet si se accede desde una tablet o Mac
RewriteCond %{HTTP_USER_AGENT} "ipad|tablet|Macintosh|Mac OS X|kindle|playbook|silk" [NC]
RewriteCond %{REQUEST_URI} !^/devices/tablet/ [NC]
RewriteCond %{HTTP_USER_AGENT} !android [NC]
RewriteCond %{HTTP_USER_AGENT} !iphone [NC]
RewriteRule ^(.*)$ /devices/tablet/$1 [L]